.body {
    height: 100%;
}

.example-container {
    height: 100%;
    max-width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

button {
    height: 40px;
    margin-left: 20px;
}

.home-header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(236, 233, 228);

}

mat-form-field {
    height: 2px;
}

.search-input {
    padding: 10px;
}

.mat-column-listName {
    padding-right: 50px;
}

.details-description {
    border-bottom: 3px solid black;
}

.color-text {
    color: rgb(115, 115, 219);
    font-weight: 500;   
}

.simple-text {
    font-weight: 600;
}

.action-icon {
    margin-left: 2px;
}

.description {
    color: rgb(115, 115, 219);
    font-weight: bold; 
}

.saved-lists {
    background-color: rgb(8, 18, 75);
    color: white;
}