<div class="row">

    <div class="header">
        <div class="home-header">
            <button mat-raised-button class="saved-lists">
                <mat-icon>list</mat-icon>
                SAVED LISTS
            </button>
            <button mat-flat-button>
                <mat-icon>filter_alt</mat-icon> SAVED FILTERS
            </button>
            <button mat-flat-button>
                <mat-icon> history </mat-icon> SEARCH HISTORY
            </button>

        </div>
        <div class="search-input">
            <mat-form-field appearance="outline">
                <input matInput placeholder="Search">
            </mat-form-field>
        </div>
    </div>
    <div [ngClass]="{'col-md-9': flag===true, 'col-md-12': flag===false}">
        <div class="body">

            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" tabindex="0">

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="isNumber(element.date); then printIcon"></span>
                            <span *ngIf="!isNumber(element.date);"> {{element.date}} </span>
                        </td>
                    </ng-container>

                    <!--List Name Column -->
                    <ng-container matColumnDef="listName">
                        <th mat-header-cell *matHeaderCellDef> List name </th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngClass]="{
                                'color-text': isNumber(element.date) == true,
                                'simple-text': !isNumber(element.date) == true}"
                            >
                                {{element.listName}}
                            </span>     
                        </td>
                    </ng-container>

                    <!-- No of Entities Column -->
                    <ng-container matColumnDef="noOfEntities">
                        <th mat-header-cell *matHeaderCellDef> No. of Entities </th>
                        <td mat-cell *matCellDef="let element"> {{element.noOfEntities}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngFor="let action of element.actions"><mat-icon class="action-icon"> {{ action }} </mat-icon>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-stroked-button class="details-description" (click)="showDescription()">
                                {{element.details}}
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

    <div *ngIf="flag" class="col-md-3">
        <table mat-table [dataSource]="description" class="mat-elevation-z8">
            <!-- Description Column -->
            <ng-container matColumnDef="detailDescription">
                <th mat-header-cell *matHeaderCellDef> No description yet
                    <button mat-button class="description">
                        +Add Description
                    </button>
                </th>
                <td mat-cell *matCellDef="let description" class="color-text"> {{description.detailDescription}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedDescriptionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDescriptionColumns;"></tr>
        </table>
    </div>
</div>

<ng-template #printIcon>
    <mat-icon>data_usage</mat-icon>
</ng-template>